{% extends "base.html" %}
{% block menu %}
<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <!-- Links -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-nav">
        {% if links %}
            {% for link in links %}
                <a class="nav-item nav-link" href="{{ link.href }}">{{ link.text }}</a>
            {% endfor %}
        {% endif %}
    </div>

</nav>
{% endblock %}

