{% extends "base.html" %}
{% block menu %}
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for("admin.get_index") }}">
                    <img src="{{ url_for('admin.static', filename='img/logo.png') }}" width="30" height="30" alt="">
                </a>
            </div>

            <ul class="nav navbar-nav mr-auto">
                {% if links %}
                    {% for link in links %}
                        <a class="nav-item nav-link" href="{{ link.href }}">{{ link.text }}</a>
                    {% endfor %}
                {% endif %}
            </ul>

            <ul class="nav navbar-nav ml-auto">
                <span class="navbar-text navbar-right">
                    {% if version %}
                        Version: {{ version }}
                    {% endif %}
                </span>
            </ul>
        </div>
    </nav>
{% endblock %}

